#tela-email{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(151, 3, 127);
    background-color: rgb(151, 3, 127);
}

